$color: white;
$enable-responsive-font-sizes: true;

html {
    font-size: 1rem;
}

ul li a {
    color: $color;
}

.footer-copyright {
    color: $color;
}

.book-images div div .card-title {
    font-size: 1.3rem;
}

nav {
    margin-bottom: 2.5%;
}

.card {
   margin: 1.5%;
}
div a div h2 {
    color: $color;
  }
// .cheers-image:hover {


// }