$color: white;

html {
    font-size: 1rem;
}

ul li a {
    color: $color;
}

.book-images div div .card-title {
    font-size: 1.3rem;
}

// * {
//     box-sizing: border-box;
// }

// body {
//     display: grid;
//     grid-template-columns: 33fr 33fr 33fr;
//     justify-content: center;
//     background-color: gray;
// }

// header {

//     background-color: red;

//     h1 {
//         text-align: center;
//         margin: 0 auto;
//     }
// }

// main {

//     ol {
//         color: $color;
//     }
// }